:root{
    
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(72, 72, 153);
}

img{
    max-width: 100%;
    object-fit: cover;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 0 2rem;
    /* background-color: yellow; */
}

.navbar{
    background-color: #3474e6;
    color: white;
    height: 5rem;
}
.logo{
    font-size: x-large;
    font-weight: bold;
    
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
h1{
    font-size: 3rem;
    line-height: 1;
}
.header{
    margin-top: 0;
    min-height: 20rem;
    /* background-color: yellow; */
    color:white;
}

.header img{
    max-width: 25rem;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxes .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
   
}

.box{
    color: #fff;
    background-color: #0a51cc;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 18px 18px 8px rgb(99, 98, 98);
}

@media(max-width: 720px){
    .header .container{
        flex-direction: column;
        text-align: center;
    }
    .boxes .container{
        display: block;
        text-align: center;
    }
}